* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: paper-moon;
  src: url("/fonts/paper-moon.ttf") format("truetype");
}
@font-face {
  font-family: paperCut;
  src: url("/fonts/Paper.otf") format("truetype");
}
@font-face {
  font-family: typewriter;
  src: url("/fonts/typewcond_regular.otf") format("truetype");
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
}

h1 {
  font-family: paperCut;
}

h2 {
  font-family: paper-moon;
}

h3 {
  font-family: paper-moon;
}

h4 {
  font-family: typewriter;
}

p {
  font-family: typewriter;
  font-size: 2rem 2vh 3rem;
}

li {
  font-family: typewriter;
  text-decoration: none;
  display: inline;
}

body {
  overflow-x: hidden;
}

.nav_color {
  width: 100vw;
  background-color: #A17359;
  font-family: typewriter;
  font-size: 25px;
}
.nav_color li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}

.inicio {
  background-image: url(/img/imagen1.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

.nosotros {
  background-image: url("/img/img4.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

.nos_fondo {
  background-image: url("/img/nosotros/pexels-karolina-grabowska-4219610.png");
  width: 100vw;
  background-repeat: no-repeat;
}

.clipleft {
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 83%);
}

.clipright {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.principal {
  background-color: #FFF1E8;
}

.adp {
  clip-path: polygon(0 1%, 100% 9%, 100% 100%, 0 91%);
  background-color: #A17359;
  color: white;
  padding: 30px;
}

.cafe_tb {
  background-color: #98402C;
  color: white;
}

.img_circulo {
  border-radius: 51%;
}

.txtc_bgc {
  color: #532C1B;
  background-color: #FFF1E8;
}

/*
.contenido-imagen{
    position: absolute;
    color: white;
    height: auto;
    padding: 10.7% 3%;

    &:hover{
        background-color: #363636da;
    }
}
*/
.masonry {
  /*column-count: 4;*/
  column-count: 3;
  column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}
@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}
@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}
.imagen-diagonal1 {
  clip-path: polygon(0 0, 88% 0, 89% 100%, 0 97%);
}

.fondo-diagonal1 {
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 90%);
  background-color: #A17359;
}

.masonry {
  /* Masonry container */
  column-count: 3;
  column-gap: 1rem;
}

.item {
  /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1rem;
  width: 100%;
}

.imagen1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
}

footer {
  background-color: #FFF1E8;
  color: #FFF1E8;
}
footer .diagonal-footer {
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
  background-color: #A17359;
}
footer .img_footer {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
footer .derechos {
  background-color: #532C1B;
}