*{  padding:0%;
    margin:0%;
    box-sizing:border-box;
 } 

 $crema: #FFF1E8;
 $cafe_claro: #A17359;
 $cafe_oscuro: #532C1B;
 $rojito: #98402C;
 $verde: #89935D;
 

   
 @font-face{
     font-family: paper-moon;
     src: url("/fonts/paper-moon.ttf") format('truetype');
 }

    
 @font-face{
    font-family: paperCut;
    src: url("/fonts/Paper.otf") format('truetype');
}
   
@font-face{
    font-family: typewriter;
    src: url("/fonts/typewcond_regular.otf") format('truetype');
}

a{
    text-decoration:none;
    color: black;
    &:hover{
        color: white;
    }
}

h1{
    font-family: paperCut;
}

 h2{
     font-family: paper-moon;
 }

 h3{
    font-family: paper-moon;
}

h4{
    font-family: typewriter;
}

p{
    font-family: typewriter;
    font-size: 2rem 2vh 3rem;
}

li{
    font-family: typewriter;
    text-decoration: none;
    display: inline;
}
.texto-cafe{
    color: $cafe_oscuro;
}
hr:not([size]) {
    color: $cafe_oscuro;
    height: 2px;
    opacity: 100%;
}

body{
    overflow-x: hidden;
}

.nav_color{
    width: 100vw;
    background-color: $cafe_claro;
    font-family: typewriter;
    font-size: 25px;

    li{
        display: inline;
        margin-left: 50px;
        margin-right: 50px;
    }
}

 .inicio{
     background-image: url(/img/imagen1.jpg);
     background-size: cover;
     width: 100vw;
     height: 100vh;
     background-repeat: no-repeat; 
 }

 .nosotros{
     background-image: url("/img/nosotros/fondo_nosotros.svg");
     background-size: cover;
     width: 100vw;
     height: 100vh;
     background-repeat: no-repeat; 
 }

 .nos_fondo{
    background-image: url("/img/nosotros/pexels-karolina-grabowska-4219610.svg");
    width: 100vw;
    background-repeat: no-repeat; 
 }

 .nos_fondodos{
     background-image: url("/img/nosotros/fondo_dos.svg");
     width: 100vw;
     background-repeat: no-repeat;
 }

 .clipleft{
    clip-path: polygon(0 0, 100% 21%, 100% 100%, 0 78%);
 }

 .clipright{
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
 }

 .clipCirleft{
    border-radius: 6% 43% 32% 6% / 50% 0% 0% 50% ; 
 }

 .clipCirright{
    border-radius: 0% 7% 6% 0% / 10% 50% 50% 10%; 
 }

 .principal{
     background-color: $crema;
 }

 .adp{
    clip-path: polygon(0 1%, 100% 9%, 100% 100%, 0 91%);
     background-color: $cafe_claro;
     color: white;
     padding: 30px;
 }

 .cafe_tb{
     background-color: $rojito;
     color: white;
 }

 .img_circulo{
     border-radius: 51%;
 }

 .txtc_bgc{
     color: $cafe_oscuro;
     background-color: #E2DAB9;
 }

 .txtb_bgr{
     color: white;
     background-color: $rojito;
 }

 /*
.contenido-imagen{
    position: absolute;
    color: white;
    height: auto;
    padding: 10.7% 3%;

    &:hover{
        background-color: #363636da;
    }
}
*/


.masonry {
	/*column-count: 4;*/
	column-count: 3;
	column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}



.imagen-diagonal1{
    clip-path: polygon(0 0, 88% 0, 89% 100%, 0 97%);

}

.fondo-diagonal1{
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 90%);
    background-color: #A17359;
}




.masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1rem;
  }
  
  .item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1rem;
    width: 100%;
  }

  
 
.imagen1{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
}

footer {
    background-color: $crema;
    color: #FFF1E8;
    .diagonal-footer{
        clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
        background-color: #A17359;
    }
    .img_footer{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    }
    .derechos{
        background-color: $cafe_oscuro;
    }
    
}

.talla{
    background-color: $cafe_claro;
    color:white;
    &:hover{
        background-color: $cafe_oscuro;
    }
}

.agregaA{
    background-color:#F1ECD6;
    color: $cafe_oscuro;
    &:hover{
        background-color: $cafe_claro;
        color: white;
    }
}

 